/* Tablet */
body {
  max-width: 992px;
}

.mainPage {
  margin: auto;
  padding: 0 20px;
}

/* filters */
.filtersContainer {
  flex-wrap: wrap;
}

.textFilter {
  align-self: flex-start;
  padding: 0 70% 10px 10px;
  font-size: 20px;
  font-weight: 700;
}

.filter {
  margin: 0;
}

/* places */
#mainPlaces,
#mainPopular {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.containerPlaces {
  display: flex;
  flex-direction: column-reverse;
}

.mainArticlePlaces {
  width: 100%;
}

.tenancyName {
  font-size: 17px;
}

.tenancyDescription p {
  font-size: 16px;
}

/*Popular */

/* activities */
.mainActivities {
  flex-wrap: wrap;
  justify-content: space-around;
}

.activityCardLarge {
  width: 45%;
}

.activitiesCol {
  width: 45%;
}

/* Footer */

.mainFooter {
  width: 100%;
  display: flex;
  justify-content: center;
}

