/* Tablet */
body {
  max-width: 992px;
  margin: 0;
  padding: 0 20px;
}

/* filters */
.filtersContainer {
  flex-wrap: wrap;
}

/* places */
#mainPlaces,
#mainPopular {
  width: 95%;
  padding: 0;
  margin-bottom: 20px;
}

.containerPlaces {
  display: flex;
  flex-direction: column-reverse;
}

/*Popular */
.mainPopular {
}
/* activities */
.mainActivities {
  flex-wrap: wrap;
  justify-content: space-around;
}

.activityCardLarge {
  width: 45%;
}

.activitiesCol {
  width: 45%;
}
